@model int
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info @ViewData["class_"+Model.ToString()]" >
            <div class="inner">
                <h3> @ViewData["number_"+Model.ToString()]<sup style="font-size: 20px">%</sup></h3>
                <p > @ViewData["name_"+Model.ToString()]</p>
            </div>
            <div class="icon">
                <i class="ion  @ViewData["icon_"+Model.ToString()]"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
